<tr data-id="<%= script.id%>">
  <td><%= File.basename(script.file.url) %></td>
  <% if script.file.file.extension == 'js' %>
    <td>Javascript</td>
  <% elsif script.file.file.extension == 'css' %>
    <td>CSS</td>
  <% else %>
    <td><%= script.file.file.extension.upcase %></td>
  <% end %>
  <td>
    <%=
    link_to 'Remove',
    delete_script_path(script),
    remote: :true,
    method: :delete,
    :data => { confirm: "Are you sure? "},
    :class => "btn btn-danger btn-xs delete-script"
    %>
  </td>
</tr>