<%= @jem.name %>
<%= @jem.github %>


<form action="/jems/<%= @jem.id %>/scripts" id="media-dropzone" class="dropzone" enctype="multipart/form-data" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="_method" type="hidden" value="POST" />

  <div class="fallback">
    <input name="script[file]" type="file" multiple />
  </div>
</form>