$('#job-id-container').append('<p style="display: none;" id="job_id"><%= @job_id %></p>');
console.log('appendeds job_id');
$('#progress-bar').show()
$("#activity-list").prepend("<%=j render :partial => 'scripts/activity' %>"); 

